body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  background-color: white;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.input-field {
  width: 80%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.btn {
  padding: 10px 12px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

h2  {
  margin-top: 20px;
  color: #222;
}

p {
  margin-top: 20px;
  font-weight: bold;

}

.temp {
  font-size: 2rem;
}

.error {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

